<button (click)="activeModal.close()" style="height: 35px; width: 40px;color: red; float: right; font-size: 25px; border:
none;">x</button>
<div class="container animated fadeIn" style="padding: 40px;">
    <h3>Asistencias registradas de la matricula</h3><br><br>
    <div class="row">
        <table class="table table-bordered" >
            <thead style="background: red;color: aliceblue;padding: 0px;" >
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Registrado</th>
                </tr>
            </thead >
            <tbody>
                <tr *ngFor="let asistencia of asistencias ; let i = index ">
                    <th scope="row"> {{i+1}}</th>
                    <td> {{asistencia.fecha  | date }} </td>
                    <td> {{asistencia.fecha  | date : 'shortTime' : '+0'}} </td>
                    <td> {{asistencia.empleado.nombre}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>