<button (click)="activeModal.close()"
    style="height: 35px; width: 40px;color: red; float: right; font-size: 25px; border: none;">x</button>
<div class="container shake" style="padding: 40px;">
    <h1>Inicio de sesión</h1>
    <div class="row">
        <form class="form-contact col-md-12" (ngSubmit)="cambiarCorreo()">
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" type="text" placeholder="Correo Electronico" name="correo"
                        [(ngModel)]="correo">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" type="password" placeholder="Escriba una contraseña" name="password"
                        [(ngModel)]="password">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" type="password" placeholder="Repita la contraseña" name="password2"
                        [(ngModel)]="password2">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="genric-btn primary e-large">Cambiar Correo</button>&nbsp;
            </div>
        </form>
    </div>
</div>
