<header class="main_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"> <img src="assets/Imagen4.png" alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse main-menu-item justify-content-center"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/about']">Nosotros</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/planes']" href="cource.html">Planes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/contact']">Contactanos</a>
                            </li>
                            <li class="nav-item" *ngIf="usuarioService.cliente">
                                <a class="nav-link" [routerLink]="[ '/perfil', usuarioService.cliente._id ]"> Mi
                                    perfil</a>
                            </li>
                            <li class="nav-item" >
                                <button *ngIf="!usuarioService.cliente" class="btn_1 d-none d-inline-block" (click)="openLogin()"> Iniciar
                                    Sesión</button>
                                <button *ngIf="usuarioService.cliente" class="btn_1 d-none d-inline-block" (click)="cerrarSesion()"> Cerrar
                                    Sesión </button>
                            </li>
                            
                        </ul>
                    </div>
                   
                </nav>
            </div>
        </div>
    </div>
</header>