<button (click)="activeModal.close()" style="height: 35px; width: 40px;color: red; float: right; font-size: 25px; border: none;">x</button>
<div class="container shake animated fadeIn" style="padding: 40px;" *ngIf="existe">
  <h1>Inicio de sesión</h1>
  <div class="row">
    <form class="form-contact col-md-12" (ngSubmit)="login()" >
      <div class="col-12">
        <div class="form-group">
          <input class="single-input-secondary"  type="text" placeholder="Correo Electronico" name="correo" [(ngModel)]="correo">
        </div>
      </div>
      <div class="col-12">
          <div class="form-group">
            <input class="single-input-secondary"  type="password" placeholder="Contraseña" name="password" [(ngModel)]="password">
          </div>
        </div>
      <div class="form-group">
        <button type="submit" class="genric-btn primary e-large"><i class="fa fa-user"></i> &nbsp; Login </button>&nbsp;
        <button type="button" (click)="signInWithFB()" class="genric-btn fb e-large"><i class="fa fa-facebook"> </i> &nbsp; Facebook</button>&nbsp;
        <button type="button" (click)="signInWithGoogle()"  class="genric-btn gl e-large"><i class="fa fa-google-plus "> </i> &nbsp; Google </button>&nbsp;<br><br>
        <button style="width: 50%;" class="genric-btn info-border e-larg" (click)="existe = !existe"> <i class="fa fa-plus "></i>&nbsp; Registrarme ahora</button>
      </div>
    </form>
  </div>
</div>
<app-registrar *ngIf="!existe"></app-registrar>