<!-- breadcrumb start-->
<div class="animated fadeIn"> 
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Detalles del plan seleccionado</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- cource details part here -->
    <section class="cource_details section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="cource_details_content">
                        <div class="single_cource_details">
                            <h3 *ngIf="plan.cantidadMeses > 1">Plan seleccionado {{plan.cantidadMeses}} meses </h3><br><br>
                            <h4 *ngIf="plan.cantidadMeses == 1 ">Plan seleccionado {{plan.cantidadMeses}} mes </h4>
                            <h4 style="margin-bottom: 0;" > Descripción:</h4>
                            <p> {{plan.descripcion}}</p>
                            <br>
                            <div style="padding-right: 200px;">
                                <h4 style="margin-bottom: 0;">A tener en cuenta</h4>
                                <p>El punto de partida para crear un plan de entrenamiento es tu objetivo. Ten claro lo que quieres. Algunos de los
                                    posibles objetivos son ganar masa muscular, quemar grasa,
                                    perder peso o mejorar la resistencia.</p>
                                <p>La alimentación también se debe adaptar a los objetivos establecidos en el plan de entrenamiento. Quien quiera
                                    ganar masa muscular deberá llevar una alimentación
                                    diferente a quien tenga como objetivo quemar grasa corporal.</p>
                            </div>
                            
                        </div>
                        <div class="single_cource_details">
                            <h3 class="mb-20">Beneficios:</h3>
                            <div class="col-md-12 mt-sm-30">
                                <div class="">
                                    <ul class="unordered-list">
                                        <li>Intructores altamente calificados siempre disponibles</li>
                                        <li>Ducha con agua fria o temperada</li>
                                        <li>Maquinas siempre ordenadas y limpias</li>
                                        <li>Regalos para nuestro clientes frecuentes</li>
                                        <li>Ofertas por dias especiales</li>
                                        <li>Horaio flexible para todos </li>
                                        <li>Entrada a los bailes diarios </li>
                                        <li>Entrada a las sesiones de pilates diarias </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <h3 class="mb-20">Descripcion de pago:</h3>
                    <div class="cource_details_sidebar">
                        <div class="single_cource_details_sidebar">
                            <p>Precio:</p>
                            <span>S/. {{plan.precio}}</span>
                        </div>
                        <div class="single_cource_details_sidebar">
                            <p>Tiempo (Meses):</p>
                            <span>{{plan.cantidadMeses}} </span>
                        </div>
                        <div class="single_cource_details_sidebar">
                            <p>Veneficios:</p>
                            <span>Todos</span>
                        </div>
                        <div class="single_cource_details_sidebar" *ngIf="!cupon.descuento">
                            <input class="single-input-secondary col-md-4" #nombreCupon type="text"
                                placeholder="Cupon de Descuento">
                            <button class="btn_1" type="button" (click)="ingresarCupon(nombreCupon.value)">Aplicar
                                cupon</button>
                        </div>
                        <div class="single_cource_details_sidebar" *ngIf="cupon.descuento">
                            <p>Descuento:</p>
                            <span>S/ {{descuento}} </span>
                        </div>
                        <div class="single_cource_details_sidebar">
                            <p>Total:</p>
                            <span>S/ {{total}} </span>
                        </div>
                        <button class="btn_1 btn-block" (click)="verificarCliente()">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- cource details part end -->