<div class="animated fadeIn">
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2>Contactanos</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">
        <div style="text-align: center;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5648540494262!2d-75.2093696858794!3d-12.073432545682698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d450ad3ea5fc0ca!2sEnergym%20Fitness!5e0!3m2!1ses!2spe!4v1580188355517!5m2!1ses!2spe"
            width="1000" height="480" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Comunicate con nostros</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" (ngSubmit)="enviarCorreo()" >
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control w-100"  cols="30" rows="9" placeholder="Ingresa tu mensaje"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control"  type="text" placeholder="Ingresa El asunto" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control"  type="email" >
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control"  type="text" placeholder="Ingrese su correo" >
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_1">Enviar mensaje</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Huancayo, Huancayo.</h3>
              <p>Calle Real N°1125 (2do piso)</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>955-33-53-24</h3>
              <p>Atención de lunes a viernes 9 a.m. a 7 p.m. </p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>energymhuancayo@gmail.com</h3>
              <p>Envianos tu consulta en cualquier momento!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
</div>