<div class="container  col-md-12" style="padding: 40px;">
    <h1>Registro de datos Faltantes</h1>
    <div class="row">
        <form class="form-contact col-md-12" (ngSubmit)="agregardatos(formulario)"  #formulario="ngForm" >
            <div class="col-12">
                <div class="form-group" >
                    <input class="single-input-secondary" [ngClass]="{'input-errors': dni.errors && dni.touched }"  #dni="ngModel" type="text" name="dni" placeholder="Numero de DNI" required maxlength="8" minlength="8" [(ngModel)]="cliente.dni">
                    <sup *ngIf="dni.errors && dni.touched"> Campo obligatorio debe contner solo 8 carcateres </sup>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" #telefono="ngModel" type="text" name="telefono" placeholder="Ingrese un telefono o celular"  maxlength="12" minlength="9" [(ngModel)]="cliente.telefono" >
                    <sup *ngIf="telefono.errors && telefono.touched"> El camapo debe contner de 9 a 12 carcateres </sup>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for=""> Seleccione su genero </label><br>
                    <select style="height: 35px;" name="genero" [(ngModel)]="cliente.genero" class="btn-block" >
                        <option value="1" > &nbsp; Masculino</option>
                        <option value="0" > &nbsp; Femenino </option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for=""> Fecha de nacimiento </label><br>
                    <input class="btn-block" style="height: 35px;" type="date"  name="nacimiento" [(ngModel)]="cliente.nacimiento"  >
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="genric-btn primary-border e-larg">Agregar Datos</button>
            </div>
        </form>
    </div>
</div>
