#circle {
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color:black;
  width: 150px;
  height: 150px;	
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: calc(100% - 0px);
height: calc(100% - 0px);
border: 8px solid #162534;
border-top: 8px solid #09f;
border-radius: 50%;
animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 

