<!--  -->
<div class="animated fadeIn">
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Nuestros Planes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- popular cource start-->
    <section class="popular_cource single_page_popular_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section_tittle text-center">
                        <h2>Nuestros mejores planes</h2>
                        <p>Es hora de lograr los resultados que siempre quisistes. Elije uno de nuestros planes y
                            empieza hora mismo</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6" *ngFor="let plan of planes">
                    <div class="single_popular_cource">
                        <img [src]="plan.imagen" alt="">
                        <h3 *ngIf="plan.cantidadMeses > 1">{{plan.cantidadMeses}} Meses<span> S/.{{plan.precio}}</span>
                        </h3>
                        <h3 *ngIf="plan.cantidadMeses == 1">{{plan.cantidadMeses}} Mes<span> S/.{{plan.precio}}</span>
                        </h3>
                        <p>{{plan.descripcion}}</p>
                        <a [routerLink]="['/plan',plan._id]" class="btn_2">Inscribirme</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- popular cource end-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>