<button (click)="closeModal()" style="cursor: pointer; height: 35px; width: 40px;color: red; float: right; font-size: 25px; border: none;">x</button>
<div class="container animated fadeIn" style="padding: 40px;">
    <h3>Detalles de la Matricula</h3><br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-user"></i></span>
                <div class="media-body">
                    <h3>Cliente</h3>
                    <p>{{matricula.cliente.nombre}} {{matricula.cliente.nombre}} </p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-timer"></i></span>
                <div class="media-body">
                    <h3>Tiempo</h3>
                    <p>{{matricula.plan.cantidadMeses}} meses </p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-receipt"></i></span>
                <div class="media-body">
                    <h3>Descuento</h3>
                    <p *ngIf="matricula.cupon" >{{ matricula.cupon.nombre | uppercase }} {{matricula.cupon.descuento }} % </p>
                    <p *ngIf="!matricula.cupon"  > Ninguno </p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-calendar"></i></span>
                <div class="media-body">
                    <h3>Fecha de inscripción;</h3>
                    <p>{{matricula.fecha | date}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-money"></i></span>
                <div class="media-body">
                    <h3>Pago Total:</h3>
                    <p> S/. {{matricula.total}} </p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-calendar"></i></span>
                <div class="media-body">
                    <h3>Fecha de inicio:</h3>
                    <p *ngIf="matricula.fechaInicio" > {{matricula.fechaInicio | date }} </p>
                    <p *ngIf="!matricula.fechaInicio" > Actividades no iniciadas </p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-alarm-clock"></i></span>
                <div class="media-body">
                    <h3>Tiempo restante</h3>
                    <p *ngIf="matricula.estado === 'no iniciado'" > Actividades no iniciadas </p>
                    <p *ngIf="matricula.estado === 'iniciado'" >  {{days}} </p>
                    <p *ngIf="matricula.estado === 'finalizado'" >  0 </p>
                </div>
            </div>
            <div class="media contact-info">
                <span class="contact-info__icon"><i class="ti-check-box"></i></span>
                <div class="media-body">
                    <h3>Estado de Pago:</h3>
                    <p *ngIf="matricula.estadoPago"> Completado </p>
                    <p *ngIf="!matricula.estadoPago"> No completado </p>
                </div>
            </div>
        </div>
    </div>
</div>