<div class="animated fadeIn delay-1s">
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Mi perfil</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="popular_cource single_page_popular_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section_tittle text-center">
                        <h2>Detallles de mi perfil</h2>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.estado === 'Registrado'" class="alert alert-danger" role="alert">
                Tu correo no ha sido confirmado por dirigete al correo que ingresasates y confirmalo. ¿No lo recibistes? &nbsp;
                <button class="btn btn-danger" (click)="enviarCorreo()" >Reenviar email de verficación</button>
            </div>
            <div *ngIf="usuario.estado === 'RegistradoAdmin'" class="alert alert-danger" role="alert">
                    Agregar un correo y una contraseña ayudara mejorara la seguridad de sus datos.  &nbsp;
                <button class="btn btn-danger" (click)="agregarCorreo()" >Agregar Correo y contraseña </button>
            </div>
            <br><br>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="single_popular_cource">
                        <img [src]="imagenvista || usuario.imagen" alt=""><br>
                        <input type="file" style="display: none" (change)="seleccionarFoto($event)" #cambiarFoto ><br>
                        <button class="btn btn-dark btn-block" (click)="cambiarFoto.click()" >Cambiar foto de perfil</button>
                        <button *ngIf="imagen" class="btn btn-danger btn-block" (click)="subirfoto()" > Guardar Cambio </button>
                    </div>
                </div>
                <div class="col-md-8 row">
                    
                    <!--  -->
                    <div class="col-md-6">
                            <h3>Datos:</h3><br>
                        <div class="media contact-info">
                          <span class="contact-info__icon"><i class="ti-user"></i></span>
                          <div class="media-body">
                            <h3>Nombres</h3>
                            <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
                          </div>
                        </div>
                        <div class="media contact-info">
                          <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                          <div class="media-body">
                            <h3>Celular</h3>
                            <p *ngIf="!usuario.telefono" >  Dato no proporcionado  </p>
                            <p *ngIf="usuario.telefono" >{{usuario.telefono}}</p>
                          </div>
                        </div>
                        <div class="media contact-info">
                          <span class="contact-info__icon"><i class="ti-email"></i></span>
                          <div class="media-body">
                            <h3>Correo electronico</h3>
                            <p>{{usuario.correo}}</p>
                          </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-calendar"></i></span>
                            <div class="media-body">
                              <h3>Fecha de nacimiento</h3>
                              <p *ngIf="!usuario.nacimiento" > Dato no proporcionado  </p>
                              <p  *ngIf="usuario.nacimiento" >{{ usuario.nacimiento | date  }}</p>
                            </div>
                          </div>
                          <button *ngIf="!usuario.nacimiento" class="btn btn-danger" (click)="agregarDatos()" > Agregar Datos </button>
                      </div>
                    <!--  -->
                    <div class="col-md-6"  >
                        <h3>Planes adquiridos:</h3><br>
                        <ng-container *ngIf="matriculas">
                            <div *ngFor="let matricula of matriculas" class="media contact-info">
                                <span class="contact-info__icon"><i class="ti-id-badge"></i></span>
                                <div class="media-body">
                                    <h3>Plan {{matricula.plan.cantidadMeses}} meses</h3>
                                    <p> Estado : {{matricula.estado | uppercase}}</p>
                                    <button class="btn btn-danger" (click)="verMatricula(matricula)"> Ver detalles </button>&nbsp;
                                    <button  *ngIf="matricula.fechaInicio" class="btn btn-dark" (click)=" verAsistencias(matricula.fechaInicio,matricula.fechaFin) "> Ver Asistencias </button>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!matriculas || matriculas.length <= 0">
                            <p> Aun no cuenta con ningun plan </p>
                            <a class="btn btn-danger" [routerLink]="[ '/planes' ]">Ver Planes</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>