<div class="container  col-md-12" style="padding: 40px;">
    <h1>Registro</h1>
    <div class="row">
        <form class="form-contact col-md-12" (ngSubmit)="validarRegistro(formulario)"  #formulario="ngForm" >
            <div class="col-12">
                <div class="form-group" >
                    <input class="single-input-secondary" [ngClass]="{'input-errors': nombre.errors && nombre.touched }"  #nombre="ngModel" type="text" name="nombre" placeholder="Nombres" required maxlength="20" minlength="3" [(ngModel)]="usuario.nombre">
                    <sup *ngIf="nombre.errors && nombre.touched"> Campo obligatorio debe contner de 3 a 20 carcateres </sup>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" [ngClass]="{'input-errors': apellidos.errors && apellidos.touched }" #apellidos="ngModel" type="text" name="apellidos" placeholder="Apellidos" required maxlength="20" minlength="6" [(ngModel)]="usuario.apellidos" >
                    <sup *ngIf="apellidos.errors && apellidos.touched"> Campo obligatorio debe contner de 6 a 20 carcateres </sup>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" [ngClass]="{'input-errors': correo.errors && correo.touched }"  #correo="ngModel" type="email" name="correo" placeholder="Correo electronico" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="usuario.correo">
                    <sup *ngIf="correo.errors && correo.touched"> Campo obligatorio debe contener un correo valido</sup>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" [ngClass]="{'input-errors': password.errors && password.touched }"  #password="ngModel" type="password"  name="password" placeholder="Contraseña" required maxlength="30" minlength="5" [(ngModel)]="usuario.password" >
                    <sup *ngIf="password.errors && password.touched"> Campo obligatorio debe contener de 5 a 30 caracteres</sup>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input class="single-input-secondary" [ngClass]="{'input-errors': password.value != password22.value && password22.touched }" #password22="ngModel"  type="password"  name="password2" placeholder="Repita Contraseña" required [(ngModel)]="password2">
                    <sup *ngIf="password.value != password22.value && password22.touched"> Las contraseñas no coinciden </sup>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="genric-btn primary-border e-larg">Registrarme</button>
            </div>
        </form>
    </div>
</div>