<!-- banner part start-->
<section class="banner_part ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <p>El trabajo y el esfuerzo logran resultados grandiosos</p>
                        <h1>Energym Fitness</h1>
                        <a [routerLink]="[ '/about' ]" class="btn_1">Acerca de Nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- popular cource part here-->
<section class="popular_cource section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <h2>Nuestros planes mas populares</h2>
                    <p> Adquiere uno de nuestros planes y inicia una vida vida saludable en mente y cuerpo. Todos nuestros planes cuentan con todos 
                        los beneficios. No te pierdas esta oportunidad e inscribete ya !! </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let item of planes" >
                <div class="single_popular_cource">
                    <img [src]="item.imagen" alt="">
                    <h3>{{item.cantidadMeses}} meses <span>S/. {{item.precio}}</span></h3>
                    <p>{{item.descripcion}} </p>
                    <a [routerLink]="['/planes']" class="btn_2">Apply Course</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular cource part end-->

<!-- shedule part here-->
<section class="shedule_part overflow-hidden">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-5 d-md-none d-lg-block">
                <div class="shedule_img">
                    <img src="assets/img/modelo-4.jpg" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="shedule_content">
                    <h2>Nuestros horarios de actividaes semanales</h2>
                    <p>No solo contamos con maquinas de ejercicio sino tambien ofrecemos servicios como baile para el cardio y pilates para las chicas fitness a los cuales tendras acceso con cualquiera de nuestros planes.</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Course Name</th>
                                <th scope="col">Lunes</th>
                                <th scope="col">Martes</th>
                                <th scope="col">Miercoles</th>
                                <th scope="col">Jueves</th>
                                <th scope="col">Viernes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Baile Aldhair</th>
                                <td>08.00</td>
                                <td>10.10</td>
                                <td>14.00</td>
                                <td>18.10</td>
                                <td>20.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Shine Dance</th>
                                <td>08.00</td>
                                <td>10.10</td>
                                <td>14.00</td>
                                <td>18.10</td>
                                <td>20.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Full body</th>
                                <td>08.00</td>
                                <td>10.10</td>
                                <td>14.00</td>
                                <td>18.10</td>
                                <td>20.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Fitness combate</th>
                                <td>08.00</td>
                                <td>10.10</td>
                                <td>14.00</td>
                                <td>18.10</td>
                                <td>20.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Fitness Aero</th>
                                <<td>08.00</td>
                                <td>10.10</td>
                                <td>14.00</td>
                                <td>18.10</td>
                                <td>20.00</td>
                            </tr>
                            <tr>
                                <th scope="row">Fitness Aero</th>
                                <td>08.00</td>
                                <td>10.10</td>
                                <td>14.00</td>
                                <td>18.10</td>
                                <td>20.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shedule part end-->

<!-- our feature part start-->
<section class="our_feature section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_tittle text-center">
                    <h2>¿ Porque deberias elejir a nuestro equipo ?</h2>
                    <p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="assets/img/icon/feature_icon_1.png" alt="#">
                    <h4>Excelente entrenamiento</h4>
                    <p>Nuestros instructores estan capacitados para ayudar a las personas a cumplir su proposito tomando en cuenta la salus y estado fisco de nuestros clientes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="assets/img/icon/feature_icon_2.png" alt="#">
                    <h4>Horario Flexible</h4>
                    <p>Porque queremos que las personas se sientan seguras de inscribirse a nuestro gimnasio, tenemos un horario flexible para darles libertad de elejir el horario de su preferencia.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="assets/img/icon/feature_icon_3.png" alt="#">
                    <h4>Entrenadores calificados</h4>
                    <p>Nuestros instructores son costantemente capacitados para ayudar a nuestros clientes a lograr sus metas sin descuidar su salud .</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="assets/img/icon/feature_icon_4.png" alt="#">
                    <h4>Precio Accesibles</h4>
                    <p>Porque sabemos que no todas las personas no pueden pagar un  plan de gimnasio, tenemos precios unicos y constantemente estaremos publicando ofertas para su comodidad economica. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our feature part end-->

<!-- about part here-->
<section class="about_part padding_bottom overflow-hidden">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center justify-content-end">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="about_text">
                    <h2>Somos una empresa dedicada al mundo fitness desde el año 2004.</h2>
                    <p>Somos la mejor alternativa para que realices tu entrenamiento en amplios y confortables espacios. Anímate a elegir
                        entre los diversos programas Fitness que tenemos, para que logres todo lo que te propones y por tanto puedas
                        experimentar los beneficios de mantenerte bien a todo nivel.</p>
                    <p>Estaremos contigo para apoyarte si es que asumes el reto de empezar con un estilo de vida activa y lleno de energía.
                        No somos novatos en esto; tenemos experiencia y sobre todo mucha pasión por el Fitness.
                    </p>
                    <p>Ven, te invitamos a conocernos y Vive el Cambio en ENERGYM</p>
                    <a [routerLink]="[ '/about']" class="btn_1">Conocenos</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="about_img">
                    <img src="assets/img/modelo-3.jpg" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->

<!-- become a member part here -->
<section class="become_member section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="become_member_text">
                    <h2>No pongas mas excusas, ven y inscribete ahora !</h2>
                    <ng-container *ngIf="cupon" >
                        <h3 *ngIf="cupon.estado" style="color: aliceblue;" > Usa el codigo  ' {{cupon.nombre}} ' y obten un {{cupon.descuento}} % de descuento </h3>
                    </ng-container>
                    <p>Conoce todos los venedicios que ofrecen nuestros planes.Ven y unete a la familia de Energym fitness y lograras los resultados que tanto deseas, deja las exusas y unete a nostros.</p>
                    <a [routerLink]="['/planes']" class="btn_1">Ver todos los planes</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- become a member part end -->