<div class="animated fadeIn">
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Acerca de Nosotros</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- about part here-->
    <section class="about_part padding_top overflow-hidden">
        <div class="container-fluid p-lg-0">
            <div class="row align-items-center justify-content-end">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="about_text">
                        <h2>Nosotros</h2>
                        <p> Energym fitnnes es una empresa dedicada al mundo fiteness formada con el proposito de ayudar
                            a las personas que decidan cambiar su estado fisico y mental.
                            Nuestros instructores estan altamente calificados para guiar a las personas que se inician
                            en este mundo y tambien para los profesionales que quiran romper
                            sus limites y alcanzar cosas que alguns vez pensaron que eran imposibles.
                        </p>
                        <h3>Misión</h3>
                        <p>“Nuestro propósito es inspirar, motivar e impulsar el bienestar físico y
                            estético de nuestros clientes, ofreciéndoles un servicio de calidad y
                            atención personalizada”.</p>
                        <h3>Visión</h3>
                        <p>“Ser el mejor gimnasio de Huancayo brindándoles bienestar a
                            nuestros colaboradores, clientes y sociedad.”</p>
                        <a [routerLink]="['/planes']" class="btn_1">Ver nuestros planes</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_img">
                        <img src="assets/img/modelo-3.jpg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <!-- our feature part start-->
    <section class="our_feature section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_tittle text-center">
                        <h2>¿ Porque deberias elejir a nuestro equipo ?</h2>
                        <p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an
                            intimate Friday evening.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <img src="assets/img/icon/feature_icon_1.png" alt="#">
                        <h4>Excelente entrenamiento</h4>
                        <p>Nuestros instructores estan capacitados para ayudar a las personas a cumplir su proposito
                            tomando en cuenta la salus y estado fisco de nuestros clientes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <img src="assets/img/icon/feature_icon_2.png" alt="#">
                        <h4>Horario Flexible</h4>
                        <p>Porque queremos que las personas se sientan seguras de inscribirse a nuestro gimnasio,
                            tenemos un horario flexible para darles libertad de elejir el horario de su preferencia.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <img src="assets/img/icon/feature_icon_3.png" alt="#">
                        <h4>Entrenadores calificados</h4>
                        <p>Nuestros instructores son costantemente capacitados para ayudar a nuestros clientes a lograr
                            sus metas sin descuidar su salud .</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature">
                        <img src="assets/img/icon/feature_icon_4.png" alt="#">
                        <h4>Precio Accesibles</h4>
                        <p>Porque sabemos que no todas las personas no pueden pagar un plan de gimnasio, tenemos precios
                            unicos y constantemente estaremos publicando ofertas para su comodidad economica. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our feature part end-->

    <!-- our feature part start-->

    <!-- our feature part end-->

    <!-- become a member part here -->
    <section class="become_member section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="become_member_text">
                        <h2>No pongas mas excusas, ven y inscribete ahora !</h2>
                        <h3 *ngIf="cupon" style="color: aliceblue;"> Usa el codigo ' {{cupon.nombre}} ' y obten un
                            {{cupon.descuento}} % de descuento </h3>
                        <p>Conoce todos los venedicios que ofrecen nuestros planes.Ven y unete a la familia de Energym
                            fitness y lograras los resultados que tanto deseas, deja las exusas y unete a nostros.</p>
                        <a [routerLink]="['/planes']" class="btn_1">Ver todos los planes</a>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br>
    <!-- our feature part start-->
    <section class="client_review padding_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section_tittle text-center">
                        <h2>Conoces a nuestros Instructores</h2>
                        <p>Nuestro personal es constantemente capacitado para brindarte el mejor entrenamiento.</p>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="client_review_iner owl-carousel">
                        <div class="client_review_single">
                            <img src="assets/img/fotos_personal/personal_1.2.png" alt="">
                            <h4>Giancarlo Condor</h4>
                            <span>Personal Trainer</span>
                            <p>Entrendor con experiencia en tema de perder peso a base de ejercicio y una buena dieta. Capacitado en el amibito de la nutición </p>
                                <p>whatsapp: 994321852</p>
                                <p>facebbok: gian buitron</p>
                        </div>
                        <div class="client_review_single">
                            <img src="assets/img/fotos_personal/personal_2.2.png" alt="">
                            <h4> Edson vivas </h4>
                            <span>Entranador de musculacion</span>
                            <p> Brinda los mejores ejercicios para ayudar a aumentar la musculatura que deseas, a base de ejercicios que este escogera dependiendo de la resistencia de tu cuerpo. </p>
                                <p>whatsapp: 924120949</p>
                                <p>facebbok: edson alexis</p>
                        </div>
                        <div class="client_review_single">
                            <img src="assets/img/fotos_personal/personal_3.3.png" alt="">
                            <h4>Elvis Mallqui</h4>
                            <span>Entrenador funcional</span>
                            <p>Capacitado tanto en entrenamiento muscular como en el cuidado de la alimentación.Te ayudara a lograr tus objetivos musculares siempre controlando tu dieta  </p>
                                <p>whatsapp: 99471944</p>
                                <p>facebbok: Norriek Zues</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our feature part end-->
    <!-- become a member part end -->

</div>