
<div class="row">
    <div class="col-md-6">
        <div>
            <img src="assets/img/shudule_img.png" height="950" width="900">
        </div>
    </div>
    <div class="col-md-6">
        <div class="container shake" style="padding: 50px;margin-top: 200px;">
            <h1>Verficación de Correo</h1>
            <p>Como ultimo paso para verificar tu cuenta por favor ingresa tu cooreo y contraseña</p><br>
            <div class="row">
                <form   (ngSubmit)="verificar()" class="form-contact col-md-12">
                    <div class="col-12">
                        <div class="form-group">
                            <input class="single-input-secondary" type="text" placeholder="Correo Electronico"
                                name="correo" [(ngModel)]="correo">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input class="single-input-secondary" type="password" placeholder="Contraseña"
                                name="password" [(ngModel)]="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="genric-btn primary e-large">Verificar mi cuenta</button>&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
