<!-- footer part start-->
<footer class="footer-area section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-3">
                <div class="single-footer-widget footer_1">
                    <h4>Nosotros</h4>
                    <p>Somos una empresa de la ciudad de Huancayo dedicada al mundo del fitness, tenemos el propósito de ofrecer fitness de alta calidad para todos, en un ambiente cómodo, seguro  para potenciar tu entrenamiento. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget footer_2">
                    <h4>Encuentranos</h4>
                    <div class="contact_info">
                        <p>Dirección: Calle Real N°1125 (2do piso) - Huancayo</p>
                        <h2>955-33-53-24</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-5">
                <div class="single-footer-widget footer_2">
                    <h4>Suscribete</h4>
                    <p>Quieres estar atento a nuestras noticias y ofertas inscribete aqui.
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="subscribe_form relative mail_part">
                            <input type="email" name="email" id="newsletter-form-email" placeholder="Coreeo Electronico"
                                class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = ' Email Address '">
                            <button type="submit" name="submit" id="newsletter-submit"
                                class="email_icon newsletter-submit button-contactForm">Enviar<i
                                    class="ti-arrow-right"></i></button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="copyright_part_text">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="footer-text m-0">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="social_icon">
                                <a href="https://www.facebook.com/Energymfitness-1791573551072279/"> <i class="ti-facebook"></i> </a>
                                <a href="https://twitter.com/fitness_energym"> <i class="ti-twitter-alt"></i> </a>
                                <a href="https://wa.me/51921000379?text=Me%20gustaria%20saber%20el%20precio%20de%20la%20inscripcion%20o%20matricula"> <i class="fa fa-whatsapp"></i> </a>
                                <a href="https://www.instagram.com/energymhyo"> <i class="ti-instagram"></i> </a>
                                <a href="https://adminfitnessenergym.firebaseapp.com/"> <i class="fa fa-user"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>